workflow.json
{
  "name": "Geo-Inference Demo (Fixed)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text_content",
              "value": "I took this photo on a trip to Paris."
            },
            {
              "name": "image_url",
              "value": "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Tour_Eiffel_Wikimedia_Commons.jpg/800px-Tour_Eiffel_Wikimedia_Commons.jpg"
            }
          ]
        }
      },
      "id": "3",
      "name": "Set Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "boolean": [
                { "value1": "={{ $json.text_content }}", "operation": "isNotEmpty" },
                { "value1": "={{ $json.image_url }}", "operation": "isNotEmpty" }
              ]
            }
          ],
          "combinator": "or"
        }
      },
      "id": "4",
      "name": "Check Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5001/ner",
        "sendBody": true,
        "options": { "body": "={{ {\"text\": $json.text_content} }}" },
        "response": { "response": { "returnFull": true } }
      },
      "id": "5",
      "name": "Call NER Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 180],
      "credentials": {}
    },
    {
      "parameters": {
        "url": "http://localhost:5001/exif",
        "sendBody": true,
        "options": { "body": "={{ {\"image_url\": $json.image_url} }}" },
        "response": { "response": { "returnFull": true } }
      },
      "id": "6",
      "name": "Call Exif Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 420],
      "credentials": {}
    },
    {
      "parameters": { "mode": "wait" },
      "id": "7",
      "name": "Merge Clues",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1.1,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "boolean": [
                {
                  "value1": "={{ $items('Call Exif Agent')[0].json.body.gps.lat }}",
                  "operation": "isNotNull"
                }
              ]
            }
          ]
        }
      },
      "id": "8",
      "name": "Found GPS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "options": { "keepOnlySet": true },
        "values": {
          "string": [
            { "name": "analysis_type", "value": "Direct GPS Match from Image" },
            { "name": "final_lat", "value": "={{ $items('Call Exif Agent')[0].json.body.gps.lat }}" },
            { "name": "final_lon", "value": "={{ $items('Call Exif Agent')[0].json.body.gps.lon }}" }
          ],
          "json": [
            { "name": "source_data", "value": "={{ $items('Call Exif Agent')[0].json.body.gps }}" }
          ]
        }
      },
      "id": "9",
      "name": "Set: Direct Hit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1880, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "number": [
                {
                  "value1": "={{ $items('Call NER Agent')[0].json.body.locations.length }}",
                  "operation": "larger",
                  "value2": 0
                }
              ]
            }
          ]
        }
      },
      "id": "10",
      "name": "Found NER?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1880, 420]
    },
    {
      "parameters": {
        "url": "http://localhost:5001/gis",
        "sendBody": true,
        "options": {
          "body": "={{ {\"location_name\": $items('Call NER Agent')[0].json.body.locations[0]} }}"
        },
        "response": { "response": { "returnFull": true } }
      },
      "id": "11",
      "name": "Call GIS Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2120, 420],
      "credentials": {}
    },
    {
      "parameters": {
        "options": { "keepOnlySet": true },
        "values": {
          "string": [
            { "name": "analysis_type", "value": "Inferred from Text (GIS Lookup)" },
            { "name": "final_lat", "value": "={{ $items('Call GIS Agent')[0].json.body.results[0].lat }}" },
            { "name": "final_lon", "value": "={{ $items('Call GIS Agent')[0].json.body.results[0].lon }}" }
          ],
          "json": [
            { "name": "source_data", "value": "={{ $items('Call GIS Agent')[0].json.body.results[0] }}" }
          ]
        }
      },
      "id": "12",
      "name": "Set: Text Hit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2360, 420]
    },
    {
      "parameters": {
        "options": { "keepOnlySet": true },
        "values": {
          "string": [{ "name": "analysis_type", "value": "No Clues Found" }],
          "json": [{ "name": "source_data", "value": "{}" }]
        }
      },
      "id": "13",
      "name": "Set: No Hit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2120, 560]
    },
    {
      "parameters": { "mode": "wait" },
      "id": "14",
      "name": "Merge Findings",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1.1,
      "position": [2580, 300]
    },
    {
      "parameters": {
        "options": {
          "importData": true,
          "import": "={{ {\n\"text\": $items('Set Input Data')[0].json.text_content,\n\"image\": $items('Set Input Data')[0].json.image_url,\n\"analysis\": $json.analysis_type,\n\"location\": $json.source_data.address || $json.analysis_type,\n\"lat\": $json.final_lat || null,\n\"lon\": $json.final_lon || null\n} }}"
        },
        "values": { "string": [{ "name": "prompt", "value": "" }] }
      },
      "id": "15",
      "name": "Build Phi-3 Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2820, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "options": {
          "body": "={{ {\"model\": \"phi3:mini\", \"stream\": false, \"prompt\": $json.prompt} }}"
        },
        "response": { "response": { "returnFull": true } }
      },
      "id": "16",
      "name": "Call Hyperstition Drive (Phi-3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3040, 300],
      "credentials": {}
    },
    {
      "parameters": { "jsCode": "return $json.body;" },
      "id": "17",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3260, 300]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Manual Trigger", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Set Input Data", "index": 0 }]] },
    "Set Input Data": { "main": [[{ "node": "Check Input", "index": 0 }]] },
    "Check Input": {
      "main": [
        [{ "node": "Call NER Agent", "index": 0 }],
        [{ "node": "Call Exif Agent", "index": 0 }]
      ]
    },
    "Call NER Agent": { "main": [[{ "node": "Merge Clues", "index": 0 }]] },
    "Call Exif Agent": { "main": [[{ "node": "Merge Clues", "index": 1 }]] },
    "Merge Clues": { "main": [[{ "node": "Found GPS?", "index": 0 }]] },
    "Found GPS?": {
      "main": [
        [{ "node": "Set: Direct Hit", "index": 0 }],
        [{ "node": "Found NER?", "index": 0 }]
      ]
    },
    "Found NER?": {
      "main": [
        [{ "node": "Call GIS Agent", "index": 0 }],
        [{ "node": "Set: No Hit", "index": 0 }]
      ]
    },
    "Call GIS Agent": { "main": [[{ "node": "Set: Text Hit", "index": 0 }]] },
    "Set: Direct Hit": { "main": [[{ "node": "Merge Findings", "index": 0 }]] },
    "Set: Text Hit": { "main": [[{ "node": "Merge Findings", "index": 1 }]] },
    "Set: No Hit": { "main": [[{ "node": "Merge Findings", "index": 2 }]] },
    "Merge Findings": { "main": [[{ "node": "Build Phi-3 Prompt", "index": 0 }]] },
    "Build Phi-3 Prompt": {
      "main": [[{ "node": "Call Hyperstition Drive (Phi-3)", "index": 0 }]]
    },
    "Call Hyperstition Drive (Phi-3)": {
      "main": [[{ "node": "Final Output", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "geo-demo-fixed"
}
